h2{
  display: none;
}

h1 {
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    /* background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;*/
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important; 
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }

button {
    margin-bottom: 50px;
}

