@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Roboto+Condensed+family=Lexend&display=swap');



*{
    margin:0;
    padding: 0;
    outline: 0;
}

body{
    background: url(cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    
}
body::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .4; 
    z-index: -1;
    background: url(cover.jpg);
  }


h1{
    font-family: 'Roboto Condensed', sans-serif; 
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}


table{
    margin: auto;
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(32, 32, 32, 0.3);
    background: #fafafa ;
    text-align: center; 
}

th,td{
    padding: 12px 15px;
}

th{
    background: rgb(41, 62, 92);
    color: #fafafa;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

td{
    font-family: 'Nunito Sans', sans-serif;
    color: black;

}

tr:nth-child(odd){
    background-color: #eeeeee;
}

.btn{
    /* margin: 5% 50% 0 50%; */
    border-radius: 20px;
    padding: 16px 30px ;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(41, 62, 92);
    display: block;
    border: solid 1px rgb(41, 62, 92);
    line-height: 1;
    transition: all 0.3s linear;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;


}

.btn:hover,
.btn:focus{
    background: rgb(41, 62, 92);
    color: #fff;
}

/* .but{
    margin: 0;
    position: absolute;
    right: 50%;
    left: 50%;
 } */




