@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
   
}
body {
    color: black;
    font-family: Georgia, serif;
    font-size: 24px;
    text-align: center;
}
.container {
    border: 20px solid  rgb(41, 62, 92);
    height: 93vh;
    display: block;
    margin: auto;

    /* vertical-align: middle; */

}
.logo {
    color:  rgb(41, 62, 92);
    text-transform: uppercase;
    padding-top:15px ;
}

.marquee {
    color:  rgb(41, 62, 92);;
    font-size: 48px;
    padding-top:15px ;

}
.assignment {
    padding-top:15px ;
}
.person {
    border-bottom: 2px solid black;
    font-size: 4rem;
    font-style: italic;
    padding-top:15px ;
    margin: auto;
    padding-top: 50px;
    width: 400px;
    font-family: 'Tangerine', cursive;
    text-transform: capitalize;
   }
   
.reason {

    margin: 80px;
}

.stamp{
    position: absolute;
    top: 70%;
    left: 40%;
    width: 220px;
    height: 200px;
    padding-bottom: 100px;
    


}