@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Roboto+Condensed+family=Lexend&display=swap');

body{
    background: url(cover.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
h1{ 
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;


}
#result {
    background-color:rgba(66, 74, 97, 0.37);
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    font-size: large;
    line-height: 40px;
    display: none;
    
    
}
#contenu{
    background-color:rgba(66, 74, 97, 0.37);
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 40px;

}
input{
    width: 100%;
    margin: 10px 0px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px gray solid;
    padding: 10px 6px;
    font-size:15px ;
}
button{
    margin: 5% 50% 0 50%;
    border-radius: 20px;
    padding: 16px 30px ;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(41, 62, 92);
    display: block;
    border: solid 1px rgb(41, 62, 92);
    line-height: 1;
    transition: all 0.3s linear;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    display: inline;
    width: 120px;
    float: left;


}

button:hover,
button:focus{
    background: rgb(41, 62, 92);
    color: #fff;
}

button,a{
    text-decoration: none;
    color: rgb(41, 62, 92);
}
 .but{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 }